.small {
    width: 100px;
    height: 100px;
}

.big {
    width: 200px;
    height: 200px;
}

.wide {
    width: 200px;
    height: 100px;
}

.tall {
    width: 100px;
    height: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}